<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 main_header_left">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/bg1.png" alt="Leena" class="img-fluid" title="Leena technical">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <p>Welcome to leena gupta</p>
                        <h1>{{errorMsg}}<span class="text_clr">Weather</span> Info of your City</h1>
                        <a href="https://www.thapatechnical.com/"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer>
    <p>created with love and leena gupta</p>
</footer>
</body>
</html>