<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 main_header_left">
                <div class="row lineup">
                    <div class="col-md-6 col-12 main_header_left">
                        <figure>
                            <img src="images/mypic.jpeg" alt="Leena" class="img-fluid" title="Leena technical">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <p>I am a Mern Stack Developer </p>
                        <h1>Get The Latest <span class="text_clr">Weather</span> Info of your City</h1>
                        <a href=""><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer>
    <p>created with love and leena gupta</p>
</footer>
</body>
</html>